*.log
*.index
*.timeindex
*.db
*.sum

kafka/data
zookeeper/data/
zookeeper/datalog/

mongo-db/db
postgres/db
timescaledb/data

kafka-connect/jars/postegresql-source-connector
kafka-connect/jars/jdbc-sink-connector
